.form-error{
  border: 1px solid red;
}

.todo-list::after{
  content:"";
  clear: both;
  display: block
}


.form .react-datepicker-wrapper, .form .react-datepicker__input-container{
  width:100%;
}

.form-row{
  margin-bottom: 10px;
}

.form input{
  width:100%;
}