.form-error{
  border: 1px solid red;
}

.todo-list::after{
  content:"";
  clear: both;
  display: block
}
.form-row{
  margin-bottom: 10px;
}

.form input, .form .react-date-picker, .form .react-date-picker__button{
  width:100%;
}

.react-date-picker__calendar.react-date-picker__calendar--open{
  z-index: 2;
}